html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
  ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary, time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
  display: block;
}

body
{
  line-height: 1;
  color: #777777;
}

ol, ul
{
  list-style: none;
}

/*blockquote, q
{
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after
{
  content: '';
  content: none;
}*/

table
{
  border-collapse: collapse;
  border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;700&display=swap');
body {
  color: #777777;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}
h1, h2, h3, h4{
  color: #555555;
  font-weight: 400;
  text-transform: uppercase;  
}
h1, h2{
  font-family: 'Amatic SC', cursive;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.8em;
  letter-spacing: 3px;
}
h3{
  font-size: 1.5em;
  margin-top: 20px;
}
h4{
  font-size: 1.2em;
  padding-top: 20px;
}
h4+p, h3+p{
  margin-top: 20px; /*отступы перед заголовками*/
}
.pad{ 
padding: 0 30px; /*поля для абзацев с классом pad*/
}
@media (max-width:740px){
  .pad{ 
    padding: 0 5px; /*поля для абзацев с классом pad*/
    }
}
p{
  line-height: 1.7em;
}
.center {
  text-align: center;
}
.container{
width:70%;
margin-right: auto;
margin-left: auto;
}
.clearfix:after { content: "."; visibility: hidden; display: block;
  height: 0; clear: both }

/*отступы до и после секций*/
section.main{
  padding-top: 60px;
  padding-bottom: 70px;
}
/*=========ЦВЕТНОЙ РОЗОВЫЙ ФОН!!!!!!!!!============*/
section.bg_colorful1{
  background: #e0b1a9;
}
.bg_colorful *{
  color:white; /**цвет текста белый на цветных фонах*/
} 
/*=====ФОН Картинка======*/
section.bg_paralax{
  background: url("images/parallax5.jpg") 30% 50% no-repeat;
}
@media (max-width:740px){
  section.bg_paralax{
  background-position: 50% 60%;}
}
/*========центрирование текста блока===========*/
.cent_block{
  padding:40px 70px 0 70px;
}
@media (max-width:740px){
  .cent_block{
    padding:40px 5px 0 5px;
  }
}
/*   --------------HEADER----------------*/
.logotipe{
  float:left; /*блок логотипа сайта с изображением*/
}
header{
  background: white;
  padding: 20px 0px 25px 0px;
}
.logotipe_name{
  padding: 10px 0 0 50px;
  position: relative;
}
.logotipe_name:before{
  content: url('images/logo.png');
  height: 45px;
  width: 42px;
  position: absolute;
  left: 0;
  top:  0;
}
nav{
  float: right; /*блок навигации сайта с обтеканием */
}
ul.menu li{
  font-weight: 700;
  color: #555555;
  display: inline-block;
  position: relative; 
  left: 0px; 
  top: 15px
}
.menu>li>a{
  padding: 10px 0px;
  text-decoration: none;
  color: inherit;
}
ul.menu li:not(:last-child){
  padding-right: 30px; /*отступы между блоками меню, кроме последнего*/
}
.menu_line{
  background: url("images/border_rad_sec.png") center no-repeat; /*картинка линии после header*/
  height: 100px;
}
.menu li a:hover{
  background: url("images/border.png") no-repeat left bottom;
}
/*======== меню для мобильной версии =========*/
.select_mob{
  display: none;
  margin-top: 30px;
  border: 1px solid black;
}
select{
  width: 100%;
  height: 30px;
  border: none;
}
select:focus{
  outline: none;
}
/*========конец меню для мобильной версии =========*/
@media (max-width: 1224px){
  header {
    text-align: center;
  }
  header nav, header .logotipe{
    float: none; /*блок навигации и логотипа сайта без обтекания */
  }
  header .logotipe{
    display:inline-block;
  }
  nav{
    margin-top: 20px;
  }
}
@media (max-width: 479px){
  nav .menu{
    display: none;
  }
  .logotipe, nav{
    float: none;
  }
  .logotipe{
    display: block;
  }
  .select_mob{
    display: block;
  }
}
/* =============  END HEADER   ============*/

/*  ============ SPRITE_LINES  ============*/
h2::after{ /*после каждого заголовка h2 фон линия черно-белая*/
  width: 177px;
  height: 15px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  content: "";
  background: url("images/hr_sprite.png") center no-repeat;
  background-position: 0px -73px;
  display: block;
}
section div.container::after{/*после каждого смыслого блока фон вензеля черно-белая*/
  width: 140px;
  height: 30px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  content: "";
  background: url("images/hr_sprite.png") center no-repeat;
  background-position: 0px -30px;
  display: block;
}
/* Вензеля и линия на цветном фоне! */
section.bg_colorful h2::after{
  content: "";
  background-position: 0 -57px;
}
section.bg_colorful div.container::after{
  content: "";
  background-position: 0 0;
}
/*  ============ END OF SPRITE_LINES  ============*/

/* ==========  GOOGLE MAPS  =======  */
#googleMap{
  margin-top: 50px;
  width:100%;
  height:400px;
}

/*  ---------------------     FORMA   ----------------    */

#contact {
    position: relative;
}
section.info{
    padding-bottom: 100px;
}
input[type=text]{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #777777;
    margin-top: 20px;
    padding: 8px 10px;
    color: #999999;
    box-sizing: border-box;
}
input[type=text]:focus{
  outline: none;
}
/*.e-mail input[type=text], .phone input[type=text]{
    display: inline-block;
    width: 49%;
}*/
.phone input {
  box-sizing: border-box;
  
}

textarea{
    width:100%;
    height: 150px;
    display: block;
    border:1px solid #777777;
    outline: none;
    resize: none;
    margin-top: 50px;
    padding: 8px 10px;
    box-sizing: border-box;
   /* overflow: auto;*/
}
.button{
  margin-top: 50px;
}
input[type=submit]{
  border: 0;
  background: #c89e97;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 14px;
  color: white;
}
input[type=submit]:focus, input[type=submit]:hover{
  color: #c89e97;
  background: #FFCCCC;
}

/*======= FOOTER  =====*/

footer div.contact_details{
  background: url("images/border_rad1.png") center top no-repeat,
              url("images/footer.jpg") center top no-repeat;
  height:500px;
}
@media (max-width: 479px){
  .contact_details{
    background: url("images/border_rad1.png") center top no-repeat, 
    url("images/footer.jpg") 50% 15% no-repeat !important;
}}
/*=========Значки========*/
.icons a{
text-decoration: none;
font-size: 3em;
color: white;  
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.icons a:hover{
  color: #c89e97;
  }
/*===============FLEX_BLOCKS==============*/ 
.blocks_flex_2, .blocks_flex_3{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.blocks_flex_2 div:last-of-type, .blocks_flex_3 div:nth-of-type(1n+2), .blocks_flex_4 div:nth-of-type(1n+2){
  margin-left: 15px; /* отступы между flex-элементами*/
}
.blocks_flex_2 div{
  flex: 1 1 245px; /*ширина flex-элементов поровну*/
}
.blocks_flex_3 div{
  flex: 1 1 190px; /*ширина flex-элементов поровну*/
}
/* .blocks_flex_4{
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 150px;
}
.blocks_flex_4 img{
  width: 100%;
  height: auto;
  
} */

/* SERVICES ============================================================================================== */
.blocks_flex_4{
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  flex: 1 1 150px;
}

/*.service_item{
  width: 48%;
  display: flex;
}*/

/*.service_img_area{
  display: flex;
  align-self: flex-start;
  flex: 1 1 150px;
}*/

.blocks_flex_4 img{
  
  align-self: flex-start;
  
}


/*===============флекс блоки мобильная версия==============*/
@media (max-width: 740px){
  .blocks_flex_2{
    display: block;
    width: 100%;
}
.blocks_flex_2 div:last-of-type{
  margin-left: 0px !important; /* отступы между flex-элементами*/
}}
/*=================на странице доставка перед блоками картинки=======================*/
div.cards h3::before{
  width: 115px;
  height: 91px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  content: "";
  background: url("images/sprite1.png") center no-repeat;
  display: block;
}
div.cards h3.service::before{
    background-position: 0px 0px;
  }
  div.cards h3.decorate::before{
    background-position: 0px -91px;
  }
  div.cards h3.order::before{
    background-position: 0px -182px;
  }
  

/* ======== полоска на странице 4 перед блоком*/
div.dashed::before, div.dashed::after{
  content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: url("images/border.png") repeat-x;
    right: 0;
}
.dashed{
  position: relative;
  padding-bottom: 30px;
}